.education-container {
  width: 100%;
  max-width: 900px;
  padding: 20px ;
}


.education-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.education-card {
  position: relative;
  background: white;
  border-radius: 14px;
  padding: 25px 30px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-left: 6px solid #4a90e2;
  transition: all 0.3s ease;
}

.education-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  border-left-color: #2e6cc8;
}

.education-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.education-header h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #0b1a2b;
  margin: 0;
}

.education-date {
  font-size: 0.9rem;
  color: #4a90e2;
  font-weight: 600;
}

.education-university {
  margin: 10px 0 0;
  font-weight: 500;
  color: #333;
}

.education-location {
  color: #777;
  font-size: 0.9rem;
}

.education-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0%;
  width: 6px;
  background-color: #2e6cc8;
  border-radius: 3px;
  transition: height 0.3s ease;
}

.education-card:hover::before {
  height: 100%;
}
